<a href="https://wainroutes.co.uk" target="_blank" class="icon-link" aria-label="Wainroutes" title="Wainroutes" style="--_hover-colour: #D86E3D">
  <svg width="32" height="32" viewBox="0 0 751 751" xmlns="http://www.w3.org/2000/svg">
    <mask id="mask0_7_16" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="-17" y="-15" width="785" height="759">
      <path d="M375.5 206.5L643.02 743.5H768V-15H-17V743.5H107.979L375.5 206.5Z" />
    </mask>
    <g mask="url(#mask0_7_16)">
      <circle cx="376" cy="376" r="372" fill="currentColor"/>
    </g>
  </svg>
</a>