.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: var(--fs-big);
  font-weight: 900;

  padding-block: 1rem;
  padding-inline: 1.5rem;

  & a {
    line-height: 1;
  }

  & button {
    display: flex;

    & svg {
      width: 1.75ch;
      height: 1.75ch;
    }
  }

  & .theme-toggle svg {
    width: 1ch;
    height: 1ch;
  }
}

.dark-mode-icon {
  display: none;
}
body.dark {
  .light-mode-icon {
    display: none;
  }
  .dark-mode-icon {
    display: initial;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  row-gap: 0.5rem;

  padding-inline: 1ch;

  & .footer-icons {
    display: flex;
    align-items: center;
    gap: 2ch;
  }

  @media (max-width: 25rem) {
    flex-direction: column;
    justify-content: center;
  }
}

.icon-link {
  --_hover-colour: var(--clr-primary);
  width: 3.5ch;
  height: 3.5ch;

  transition-property: color scale;
  transition-duration: 200ms;

  & svg {
    max-width: 100%;
    max-height: 100%;
  }
}
.icon-link:hover {
  color: var(--_hover-colour);
  scale: 1.25;
}

.title {
  font-size: var(--fs-title);
  font-weight: 800;
}

.subtitle {
  font-size: var(--fs-medium);
  font-weight: 700;
}

.block-link {
  color: var(--clr-white);
  background: var(--clr-primary);
  font-weight: 700;
  width: fit-content;

  /* display: inline-block; */

  padding-block: 0.0125lh;
  padding-inline: 0.375ch;
  margin-inline: -0.25ch;

  transition-property: color background-color border-color;
  transition-duration: 200ms;

  border: 2px solid transparent;

  &:hover {
    color: var(--clr-text);
    background: none;
    border-color: var(--clr-text);
  }
}
.normal-link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
.button-link {
  font-weight: 800;

  border: 4px solid var(--clr-text);

  padding-block: 0.25lh;
  padding-inline: 1.5ch;

  transition-property: color background-color;
  transition-duration: 200ms;

  &:hover {
    color: var(--clr-bg);
    background: var(--clr-text);
  }
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 1ch;
  padding-block: 0.25lh;

  font-size: var(--fs-medium);
  font-weight: 700;
  text-transform: lowercase;
  /* color: var(--clr-white); */
  /* background: var(--clr-primary); */
  border: 4px solid var(--clr-text);

  border-inline-start: 1ch solid var(--clr-primary);

  & h1::before {
    content: "~";
  }
}

.project-link {
  --_transition-duration: 400ms;

  position: relative;
  overflow: hidden;
  display: grid;
  align-items: end;

  border: 0.25lh solid var(--clr-text);
  padding: 1.75ch;
  cursor: pointer;

  transition-duration: var(--_transition-duration);

  &.tall {
    grid-row: span 2;
  }

  & .project-image {
    position: absolute;
    inset: 0;

    object-fit: cover;
    width: 100%;
    height: 100%;

    z-index: -2;
    filter: grayscale(100%) opacity(0.5);
  }
  & .project-details {
    display: grid;
    gap: 0.5lh;
  }
  & .project-title {
    font-size: var(--fs-big);
    font-weight: 800;
  }
  & .project-button {
    display: flex;
    gap: 1ch;
    justify-content: space-between;

    color: var(--clr-white);
    background: var(--clr-text);
    width: fit-content;
    font-weight: 600;
    overflow: hidden;

    padding-inline: 1.5ch;
    padding-block: 0.125lh;

    white-space: nowrap;
    width: 12ch;

    transition-property: color background-color width;
    transition-duration: var(--_transition-duration);

    & span {
      display: none;
    }
  }

  &::before,
  &::after {
    content: "";
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;

    z-index: -1;

    background: var(--clr-text);

    transition-property: width;
    transition-duration: var(--_transition-duration);
    transition-timing-function: cubic-bezier(0.78, 0, 0.22, 1);
  }
  &::before {
    background: var(--clr-primary);

    transition-duration: calc(var(--_transition-duration) * 0.7);
  }
}

.project-link:hover {
  --_transition-duration: 600ms;

  color: var(--clr-white);
  /* background: var(--clr-text); */

  &::before,
  &::after {
    width: 100%;
  }

  & .project-button {
    color: var(--clr-text);
    background: var(--clr-white);

    width: 15ch;
    padding-inline-end: 1ch;

    & span {
      display: block;
    }
    &::after {
      content: ">";
      margin-inline-start: -2ch;
    }
  }
}
