.page-section {
  --_max-width: 74ch;
  --_inline-padding: 1.5rem;

  display: grid;
  gap: 1lh;

  width: min(var(--_max-width) + 2 * var(--_inline-padding), 100%);
  padding-inline: var(--_inline-padding);
  padding-block: 2lh;
}

.index-header-top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.index-header-icons {
  display: flex;
  gap: 1.25ch;
  margin-block: 0.125lh;
}
.icon-link {
  --_hover-colour: var(--clr-primary);
  width: 2.75ch;
  height: 2.75ch;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: color;
  transition-timing-function: ease-in-out;
  transition-duration: 100ms;

  & svg {
    width: 100%;
    height: 100%;
  }
}
.icon-link:hover {
  color: var(--_hover-colour);
}

.title {
  font-size: var(--fs-title);
  font-weight: 800;
}
.title span {
  position: relative;
  cursor: default;

  &::after {
    content: "";
    width: 100%;
    height: 0.25ch;
    background-image: url("/zig.svg");
    position: absolute;
    top: calc(100% - 0.825rem);
    left: 0;
    z-index: -1;

    opacity: 0;
    transition: opacity 50ms;
  }

  &.error::after {
    opacity: 1;
  }
}

.normal-link {
  --_t-duration: 150ms;

  position: relative;
  font-weight: 600;
  color: var(--clr-primary);

  padding-inline: 0.125ch;
  margin-inline: -0.125ch;

  transition: color var(--_t-duration) ease-out;

  &::after {
    content: "";
    position: absolute;
    top: 0.7lh;
    left: -0.5%;
    width: 101%;
    height: 3px;
    background: var(--clr-primary);
    z-index: -1;

    transition-property: height top;
    transition-duration: var(--_t-duration);
    transition-timing-function: ease-out;
  }
  &:hover {
    color: var(--clr-white);

    &::after {
      height: 100%;
      top: 0;
    }
  }
}
