.navbar {
  position: sticky;
  top: 0;
  z-index: calc(infinity);

  @media (max-width: 70rem) {
    background: var(--clr-bg);
  }

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: var(--fs-big);
  font-weight: 900;

  padding-block: 1rem;
  padding-inline: 1.5rem;

  & a {
    line-height: 1;
  }

  & button {
    display: flex;

    & svg {
      width: 1.5ch;
      height: 1.5ch;
    }
  }

  & .theme-toggle svg {
    width: 1ch;
    height: 1ch;
  }
}

.dark-mode-icon {
  display: none;
}
body.dark {
  .light-mode-icon {
    display: none;
  }
  .dark-mode-icon {
    display: initial;
  }
}

.footer {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-direction: column;

  width: min(75ch, 100%);
  margin-inline-start: auto;

  font-size: 0.9rem;
  opacity: 0.7;

  padding-block: 2lh 1lh;
  padding-inline: 2.5rem;
  /* column-gap: 1rem;
  row-gap: 0.5rem;

  margin-block-start: 1lh;
  padding-inline: 1ch;

  & .footer-icons {
    display: flex;
    align-items: center;
    gap: 2ch;
  }

  @media (max-width: 25rem) {
    flex-direction: column;
    justify-content: center;
  } */
}

.icon-link {
  --_hover-colour: var(--clr-primary);
  width: 3.5ch;
  height: 3.5ch;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: color scale;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;

  & svg {
    width: 100%;
    height: 100%;
  }
}
.icon-link:hover {
  color: var(--_hover-colour);
  scale: 1.125;
}

.index-header {
  position: relative;

  display: grid;
  gap: 1lh;
  align-content: center;
  padding-block-end: 2rem;

  height: calc(100svh - (1.5lh + 2rem));
  min-height: 25rem;
  max-height: 85rem;
}

.page-section {
  position: relative;

  display: grid;
  gap: 1lh;
  align-content: center;

  min-height: calc(100svh - (1.5lh + 2rem));

  & h2 {
    font-size: var(--fs-big);
    font-weight: 700;
  }
}
.page-section.contact {
  justify-items: center;
  gap: 0.5lh;
  /* min-height: initial; */
}

.index-header-top {
  display: flex;
  justify-content: space-between;
  align-items: start;

  & .index-header-icons {
    display: flex;
    align-items: center;
    gap: 1.625ch;
  }
  & .icon-link {
    width: 2.75ch;
    height: 2.75ch;
  }
}

@media (max-width: 25.5rem) {
  .index-header-top .index-header-icons {
    display: none;
    /* flex-direction: column; */
  }
}

.index-read-more {
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50% -100%;

  display: flex;
  gap: 2px;
  flex-direction: column;
  align-items: center;
  width: fit-content;

  font-size: 0.9rem;
  font-weight: 600;

  padding-inline: 1ch;
  padding-block: 0.125lh;

  opacity: 0.7;
  transition-property: opacity display;
  transition-behavior: allow-discrete;
  transition-duration: 400ms;

  @starting-style {
    opacity: 0;
  }

  &:hover {
    opacity: 1;
    transition-duration: 150ms;
  }

  & svg {
    width: 2ch;
    height: 2ch;
    animation: bounce infinite ease-in-out 1s;
  }

  &.hide {
    opacity: 0;
    display: none;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-4px);
  }

  50% {
    transform: translateY(0);
  }
}

.index-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-block-start: 0.5lh;

  & a {
    border: 4px solid var(--clr-primary);
    padding-inline: 1ch;
    padding-block: 0.75lh;
    text-align: center;
    font-weight: 600;
    font-size: 1.125rem;

    /* color: var(--clr-white);
    background: var(--clr-primary); */

    transition-property: color background-color;
    transition-duration: 200ms;
  }
  & a:hover {
    color: var(--clr-text);
    border-color: currentColor;
    background: none;
  }

  @media (max-width: 45rem) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.title {
  font-size: var(--fs-title);
  font-weight: 800;
}

.subtitle {
  font-size: var(--fs-medium);
  font-weight: 700;
}

.block-link {
  color: var(--clr-white);
  background: var(--clr-primary);
  font-weight: 700;
  width: fit-content;

  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  /* display: inline-block; */

  padding-block: 0.0125lh;
  padding-inline: 0.375ch;
  /* margin-inline: -0.25ch; */

  transition-property: color background-color border-color;
  transition-duration: 200ms;

  border: 2px solid transparent;

  &:hover {
    color: var(--clr-text);
    background: none;
    border-color: var(--clr-text);
  }
}
.normal-link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
.button-link {
  font-weight: 800;

  border: 4px solid var(--clr-text);

  padding-block: 0.25lh;
  padding-inline: 1.5ch;

  transition-property: color background-color;
  transition-duration: 200ms;

  &:hover {
    color: var(--clr-bg);
    background: var(--clr-text);
  }
}

.title-bar {
  display: flex;
  gap: 1ch;
  align-items: baseline;
  justify-content: space-between;

  /* padding-inline: 1ch;
  padding-block: 0.25lh; */

  font-size: var(--fs-big);
  font-weight: 700;
  /* text-transform: lowercase; */
  /* color: var(--clr-white);
  background: var(--clr-primary-dark);
  border: 4px solid var(--clr-text);

  border-inline-start: 1ch solid var(--clr-primary); */

  &::after {
    flex: 1;
    content: "";
    display: block;
    background: currentColor;
    height: 0.25rem;
  }
}

.project-link {
  --_transition-duration: 400ms;

  position: relative;
  overflow: hidden;
  display: grid;
  align-items: end;

  border: 0.25lh solid var(--clr-text);
  padding: 1.75ch;
  cursor: pointer;

  transition-duration: var(--_transition-duration);

  &.tall {
    grid-row: span 2;
  }

  & .project-image {
    position: absolute;
    inset: 0;

    object-fit: cover;
    width: 100%;
    height: 100%;

    z-index: -2;
    filter: grayscale(50%) opacity(0.5);
  }
  & .project-details {
    display: grid;
    gap: 0.5lh;
  }
  & .project-title {
    font-size: var(--fs-big);
    font-weight: 800;
  }
  & .project-button {
    display: flex;
    gap: 1ch;
    justify-content: space-between;

    color: var(--clr-bg);
    background: var(--clr-text);
    width: fit-content;
    font-weight: 600;
    overflow: hidden;

    padding-inline: 1.5ch;
    padding-block: 0.125lh;

    white-space: nowrap;
    width: 12ch;

    transition-property: color background-color width;
    transition-duration: var(--_transition-duration);

    & span {
      display: none;
    }
  }

  &::before,
  &::after {
    content: "";
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;

    z-index: -1;

    background: var(--clr-text);

    transition-property: width;
    transition-duration: var(--_transition-duration);
    transition-timing-function: cubic-bezier(0.78, 0, 0.22, 1);
  }
  &::before {
    background: var(--clr-primary);

    transition-duration: calc(var(--_transition-duration) * 0.65);
  }
}

.project-link:hover {
  --_transition-duration: 600ms;

  color: var(--clr-bg);
  /* background: var(--clr-text); */

  &::before,
  &::after {
    width: 100%;
  }

  & .project-button {
    color: var(--clr-text);
    background: var(--clr-bg);

    width: 15ch;
    padding-inline-end: 1ch;

    & span {
      display: block;
    }
    &::after {
      content: ">";
      margin-inline-start: -2ch;
    }
  }
}

button:focus-visible,
a:focus-visible {
  outline: 4px solid var(--clr-text);
  outline-offset: 2px;
  border-radius: 4px;
}
