/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/poppins-v24-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* young-serif-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Young Serif";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/young-serif-v2-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --clr-white: #fbfbfc;
  --clr-primary: #34558a;
  --clr-primary-dark: #121a27;

  --clr-text: #121a27;
  --clr-bg: var(--clr-white);

  --fs-body: 1rem;
  --fs-medium: 1.5rem;
  --fs-big: 2rem;
  --fs-title: 3.75rem;
}

@media (max-width: 35rem) {
  :root {
    --fs-body: 0.875rem;
    --fs-medium: 1.25rem;
    --fs-big: 1.7rem;
    --fs-title: 2.5rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.dark {
  --clr-text: var(--clr-white);
  --clr-bg: var(--clr-primary-dark);
}

body {
  display: grid;
  align-content: center;
  justify-items: center;

  min-height: 100svh;

  color: var(--clr-text);
  background: var(--clr-bg);

  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  font-size: var(--fs-body);
  line-height: 1.75;
}

main {
  display: grid;
  gap: 5rem;
  align-content: center;
  justify-items: center;
}

p {
  max-width: 68ch;
  text-wrap: pretty;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}
body.dark img {
  opacity: 0.9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  font-family: "Young Serif", serif;
  line-height: 1.1;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

hr {
  border: none;
  border-block-start: 4px solid var(--clr-primary-dark);
  border-radius: 999rem;
  margin-block: 0.75lh 0;
}
body.dark hr {
  border-color: var(--clr-white);
}

::selection {
  color: var(--clr-white);
  background: var(--clr-primary);
}
