:root {
  --clr-white: #fbfbfc;
  --clr-primary: #34558a;
  --clr-primary-dark: #121a27;

  --clr-text: #121a27;
  --clr-bg: var(--clr-white);

  --fs-body: 1rem;
  --fs-medium: 1.5rem;
  --fs-big: 2rem;
  --fs-title: 3.5rem;
}

@media (max-width: 35rem) {
  :root {
    --fs-body: 0.875rem;
    --fs-medium: 1.25rem;
    --fs-big: 1.75rem;
    --fs-title: 2.5rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.dark {
  --clr-text: var(--clr-white);
  --clr-bg: var(--clr-primary-dark);
}

body {
  display: flex;
  flex-direction: column;
  /* justify-items: center;
  align-content: center; */

  min-height: 100dvh;

  color: var(--clr-text);
  background: var(--clr-bg);

  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  font-size: var(--fs-body);
  line-height: 1.75;
}

.page {
  --_max-width: 60rem;
  --_inline-padding: 1.5rem;

  display: grid;
  grid-auto-rows: min-content;
  gap: 1.25lh;

  margin-inline: auto;
  margin-block: auto;

  padding-block: 3rem 8rem;
  padding-inline: var(--_inline-padding);

  width: min(var(--_max-width) + 2 * var(--_inline-padding), 100%);
}

main {
  display: grid;
  grid-auto-rows: min-content;
  gap: 1.25lh;
}

p {
  max-width: 74ch;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}
body.dark img {
  opacity: 0.9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  line-height: 1.1;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

hr {
  border: none;
  border-block-start: 3px solid var(--clr-primary-dark);
  margin-block: 0.75lh 0;
}
body.dark hr {
  border-color: var(--clr-white);
}

::selection {
  color: var(--clr-white);
  background: var(--clr-primary);
}
