.project {
  --_gap: 1.75lh;

  display: grid;
  gap: var(--_gap);

  & h2 {
    font-size: var(--fs-medium);
    font-weight: 800;
  }
}

.project-header {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4ch;
  row-gap: 0.5lh;
  justify-content: space-between;
  align-items: end;

  & span {
    text-transform: lowercase;
  }
}

.project img {
  border: 3px solid var(--clr-text);

  width: 100%;
  height: fit-content;
}

.project-image-section {
  display: grid;
  gap: 1ch;
  grid-template-columns: 2fr 0.67fr;

  & img:nth-child(2) {
    border-radius: 0.75rem;
  }
}

.project-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2lh;
  row-gap: var(--_gap);

  @media (max-width: 35rem) {
    grid-template-columns: 1fr;
  }
}

.project-section {
  display: grid;
  gap: 0.5lh;
  grid-auto-rows: min-content;

  & hr {
    position: relative;
    margin: 0;
    margin-block-start: 0.25lh;
    overflow: visible;

    /* &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      display: block;

      height: 0.25lh;
      width: 100%;

      background: var(--clr-primary);
      opacity: 0.25;
    } */
  }
  & .project-button {
    margin-inline: auto;
  }
  & ul {
    list-style: inside;
    margin-inline-start: 0.5ch;
  }
}
.project-section.horizontal {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2ch;
  align-items: baseline;

  & ul {
    list-style: none;
    display: contents;
  }
}
.project-section.roles ul {
  list-style: none;
  margin: 0;
}

.project-button {
  display: flex;
  gap: 1ch;
  align-items: center;

  color: var(--clr-bg);
  background: var(--clr-text);
  text-transform: lowercase;
  text-wrap: nowrap;

  border: 4px solid var(--clr-text);
  width: fit-content;
  font-weight: 600;

  padding-inline: 1.5ch;
  padding-block: 0.125lh;

  transition-property: color background-color;
  transition-duration: 200ms;

  & svg {
    width: 2.125ch;
    height: 2.125ch;
    transition: rotate 200ms;
  }

  &:hover {
    color: var(--clr-text);
    background: none;
    text-decoration: underline;

    & svg {
      rotate: -45deg;
    }
  }
}

@media (max-width: 27.5rem) {
  .project-button {
    padding-inline: 0.75ch;

    & span {
      display: none;
    }
  }
}
