.projects {
  display: grid;
  grid-auto-rows: 8lh;
  grid-template-columns: 1fr 1fr;
  gap: 1.5lh;
}

@media (max-width: 47.5rem) {
  .projects {
    grid-template-columns: 1fr;
    grid-auto-rows: unset;

    & .project-link {
      aspect-ratio: 1.5;
      width: 100%;
      max-height: 10lh;

      &.tall {
        grid-row: span 1;
      }
    }
  }
}
