---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="page-section">
        <p>There's nothing here, go <a class="underlined-link" href="/">back to home</a>.</p>
    </section>
</Layout>