---
import "../styles/index.css";

import Layout from "../layouts/Layout.astro";

---

<Layout title="about">
	<div class="title-bar">
		<span>
			: <h1>About</h1>
		</span>
	</div>
	
	<p>I'm currently a PhD researcher at the <a class="block-link" href="https://www.manchester.ac.uk/" target="_blank">University of Manchester</a> working on machine learning optimisation of manufacturing operations in chemical engineering.</p>
	<p>Alongside my research, I enjoy working on side projects. The biggest of those being my goal to climb all 214 of the Lake District Wainwrights, and my accompanying website <a class="block-link" href="https://wainroutes.co.uk/" target="_blank">Wainroutes</a>.</p>
</Layout>
