---
import "../styles/about.css";

import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";

import PythonIcon from "../assets/icons/PythonIcon.astro";
import NextJSIcon from "../assets/icons/NextJSIcon.astro";
import TypeScriptIcon from "../assets/icons/TypeScriptIcon.astro";
import HTMLIcon from "../assets/icons/HTMLIcon.astro";
import DockerIcon from "../assets/icons/DockerIcon.astro";
import FigmaIcon from "../assets/icons/FigmaIcon.astro";
---

<Layout title="about">
	<div class="title-bar">
		<h1>About me</h1>
	</div>
	
	<div class="about-group">
		<div class="about-text">
			<p>I'm a PhD researcher at the <a class="block-link" href="https://www.manchester.ac.uk/" target="_blank">University of Manchester</a> exploring how machine learning can predict overall equipment effectiveness in the chemical industry.</p>
			<p>In my spare time I head to the Lake District fells with the goal of climbing all <a class="block-link" href="/wainwrights">214 Wainwrights.</a> This inspired <a class="block-link" href="/project/wainroutes">Wainroutes,</a> a personal project that aims to be a planning guide with routes, weather, and travel information.</p>
			<!-- <p>Alongside my research, I enjoy working on side projects. The biggest of those being my goal to climb all 214 of the Lake District Wainwrights, and my accompanying website <a class="block-link" href="/project/wainroutes">Wainroutes.</a></p> -->
			<!-- <p>My passion project is <a class="block-link" href="/project/wainroutes">Wainroutes,</a> a guide to walking the Wainwrights in the Lake District. It combines my .</p> -->
		</div>

		<div>
			<!-- <h2>Skills</h2> -->
			<ul>
				<li><PythonIcon /> Python</li>
				<li><NextJSIcon /> Next.js</li>
				<li><TypeScriptIcon /> TypeScript</li>
				<li><HTMLIcon /> HTML/CSS</li>
				<li><DockerIcon /> Docker</li>
				<li><FigmaIcon /> Figma</li>
			</ul>
		</div>
	</div>

	<!-- <Footer /> -->
</Layout>
