---
import "../styles/index.css";

import Layout from "../layouts/Layout.astro";
import AdaptiveText from "../components/AdaptiveText.astro";
import Footer from "../components/Footer.astro";

---

<Layout title="home">
	<h1 class="title">
		<AdaptiveText text="Welcome!" />
	</h1>

	<p>I'm <a class="block-link" href="/about">Joe Cupit,</a> machine learning PhD student and creator of <a class="block-link" target="_blank" href="https://wainroutes.co.uk">Wainroutes,</a> the 'walkers guide to the Wainwrights'.</p>
	<p>Find out <a class="block-link" href="/about">about me</a> or read more about my <a class="block-link" href="/research">research</a> and <a class="block-link" href="/web">web development</a> work.</p>
	<Footer />
</Layout>
