---
import Layout from "../layouts/Layout.astro";
import Header from "./components/Header.astro";
import Projects from "./components/Projects.astro";
import About from "./components/About.astro";
import Research from "./components/Research.astro";
import Contact from "./components/Contact.astro";
import Navigation from "./components/Navigation.astro";
---

<Layout
	type="variable"
	title="home"
	maxWidth="74ch"
>
	<Header />
	<Navigation />
	<Projects />
	<About />
	<Research />
	<Contact />

	<!-- <p>Find out <a class="block-link" href="/about">about me</a> or read more about my <a class="block-link" href="/research">research</a> and <a class="block-link" href="/web">web development</a> work.</p> -->
	<!-- <Footer /> -->

	<!-- <div class="index-footer">
		<a href="/about">About me</a>
		<a href="/web">Web projects</a>
		<a href="/research">My research</a>
		<a href="/about">More</a>
	</div> -->
</Layout>
