---
import Layout from "../layouts/Layout.astro";

import GitHubIcon from "../assets/icons/GitHubIcon.astro";
import LinkedInIcon from "../assets/icons/LinkedInIcon.astro";
import WainroutesIcon from "../assets/icons/WainroutesIcon.astro";

import AnimatedTypo from "../components/AnimatedTypo.astro";
---

<Layout>

<section class="page-section">
	<div>
		<h1 class="title">
			Joe <AnimatedTypo text="Cupit" typo="/kju-pɪt/" />
		</h1>
		<p>PhD Researcher & Web Developer</p>
	</div>

	<p>I'm a PhD student at the University of Manchester applying machine learning to scheduling and OEE in the chemical and process industries.</p>
	<p>My personal project is <a class="underlined-link" href="https://wainroutes.co.uk/" target="_blank">Wainroutes</a>, where I share routes (& other useful info) for climbing the 214 Wainwrights in the Lake District.</p>

	<div class="icon-group">
		<GitHubIcon />
		<LinkedInIcon />
		<WainroutesIcon />
	</div>
</section>

</Layout>
