---
import Layout from "../layouts/Layout.astro";

---

<Layout title="my research">
	<div class="title-bar">
		<h1>Research</h1>
	</div>
	
	<p>In October 2025 I started my PhD at the <a class="block-link" href="https://www.manchester.ac.uk/" target="_blank">University of Manchester,</a> working on machine learning optimisation of manufacturing operations in chemical engineering.</p>
	<p>I did a degree in Computer Science and Mathematics before this.</p>
	<p>(More information will be added here as my research progresses.)</p>
	<!-- <p>For research related questions, you can email me at: <a class="normal-link" href="mailto:joseph.cupit@postgrad.manchester.ac.uk">joseph.cupit@postgrad.manchester.ac.uk</a></p> -->
</Layout>
