---
import "../styles/index.css";

import Layout from "../layouts/Layout.astro";

---

<Layout title="web dev">
	<div class="title-bar">
		<span>
			: <h1>Web dev</h1>
		</span>
	</div>
	
	<p>Some of my latest website design and development projects</p>
</Layout>
