---
import GitHubIcon from "../assets/icons/GitHubIcon.astro";
import LinkedInIcon from "../assets/icons/LinkedInIcon.astro";
import WainroutesIcon from "../assets/icons/WainroutesIcon.astro";
---

<!-- <div>
  <hr />
  
  <div class="footer">
    <div class="footer-icons">
      <GitHubIcon />
      <LinkedInIcon />
      <WainroutesIcon />
    </div>
  
    <p>
      email me:
      <a class="normal-link" href="mailto:hello@joecupit.com">
        letstalk@joecupit.com
      </a>
    </p>
  </div>
</div> -->

<div class="footer">
  <!-- <p>&copy; 2025</p> -->
  <p>A site by Joe Cupit.</p>
</div>