---
import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import WainroutesIcon from "../icons/WainroutesIcon.astro";
---

<hr />

<div class="footer">
  <div class="footer-icons">
    <GitHubIcon />
    <LinkedInIcon />
    <WainroutesIcon />
  </div>

  <a class="normal-link" href="mailto:hello@joecupit.com">
    letstalk@joecupit.com
  </a>
</div>