---
import DarkModeIcon from "../assets/icons/DarkModeIcon.astro";
import LightModeIcon from "../assets/icons/LightModeIcon.astro";
import MenuIcon from "../assets/icons/MenuIcon.astro";
---

<header class="navbar">
  <a href="/">JC</a>

  <div style="display: flex; align-items: center; gap: 0.5ch">
    <button class="theme-toggle" onclick="document.body.classList.toggle('dark')">
      <DarkModeIcon />
      <LightModeIcon />
    </button>
    <button>
      <MenuIcon />
    </button>
  </div>
</header>