---
import "../styles/global.css";
import "../styles/components.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>Joe Cupit</title>
		<meta name="description" content="The website for Joe Cupit" />
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
